<?php

$finder = PhpCsFixer\Finder::create()
  ->in(__DIR__ . '/src');

return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'ordered_imports' => true,
        'indentation_type' => true,
        'switch_case_space' => true,
        'ordered_class_elements' => true,
        'array_indentation' => true,
        'compact_nullable_typehint' => true,
        'fully_qualified_strict_types' => true,
        'no_superfluous_elseif' => true,
        'no_superfluous_phpdoc_tags' => true,
        'no_empty_comment' => true,
    ])
;
